.calc{
    height: 500px;
    width: 400px;
    background-color: rgb(80, 79, 79)
    ;
    margin: auto;
    margin-top: 30px;

}
#screen{
    width: 80%;
    margin-left: 36px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none; 
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    font-size: 22px;
}
.btnzero{
    width: 155px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: #000;
    color: #fff;
    font-size: 22px; 
}